<div class='post-container'>
  <h5 class='post-container--heading'>Post #<%=post_data.id%></h5>
  <p class='post-container--title'><%=post_data.title%></p>
  <p class='post-container--text'><%=post_data.text%></p>
  <p class='post-container--counter'>
    Comments: <%=post_data.comments_counter%>,Likes: <%=post_data.likes_counter%>
  </p>
</div>