<div class='post-details'>
  <div class='post-details__header'>
  <h5 class='post-details--heading'>Post #<%=post_data.id%> by <%=post_data.author.name%></h5>
  <p class='post-details--counters'>Comments: <%=post_data.comments_counter%>,Likes: <%=post_data.likes_counter%></p>
  </div>
  <div post-details__body>
    <h2 class='post-details--title'><%=post_data.title%></h2>
    <p class='post-details--text'><%=post_data.text%></p>
  </div>
</div>